@import url(https://fonts.googleapis.com/css?family=Montserrat:400,italic,500,600&display=swap);
@import url(https://fonts.googleapis.com/css?family=Raleway:500,600,700&display=swap);
@charset "UTF-8";
@font-face {
  font-family: Zapfino;
  font-display: swap;
  src: url("../fonts/Zapfino.woff2") format("woff2"), url("../fonts/Zapfino.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-chevron-left:before {
  content: "\e901";
}

._icon-chevron-right:before {
  content: "\e902";
}

._icon-plus:before {
  content: "\e900";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #5C5C5C;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat", sans-serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #5C5C5C;
  background-color: #fff;
}
.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  position: relative;
  z-index: 2;
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 73.125rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=__container_wide] {
  max-width: 120rem;
  box-sizing: content-box;
  padding: 0px 0px 0px 0px;
  margin: 0 auto;
}

[class*=__container_middle] {
  max-width: 106.25rem;
  margin: 0 auto;
}

[class*=__container_right] {
  max-width: 100rem;
  padding: 0px 0px 0px 0px;
  margin: 0 0 0 auto;
}

.main-bg {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: url("../img/bg/bg_top.svg") 90% 0/43% no-repeat, url("../img/bg/bg_second.svg") 3% 600px/27.5% no-repeat;
}
@media (max-width: 29.99875em) {
  .main-bg {
    display: none;
  }
}

.block-header {
  display: grid;
}
.block-header__top-title {
  font-weight: 400;
  line-height: 1.25;
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 75em) {
  .block-header__top-title {
    font-size: 1rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .block-header__top-title {
    font-size: clamp( 0.875rem , 0.8295454545rem  +  0.2272727273vw , 1rem );
  }
}
@media (max-width: 20em) {
  .block-header__top-title {
    font-size: 0.875rem;
  }
}
@media (min-width: 75em) {
  .block-header__top-title {
    letter-spacing: 0.3125rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .block-header__top-title {
    letter-spacing: clamp( 0.125rem , 0.0568181818rem  +  0.3409090909vw , 0.3125rem );
  }
}
@media (max-width: 20em) {
  .block-header__top-title {
    letter-spacing: 0.125rem;
  }
}
.block-header__top-title_left {
  text-align: left;
}
.block-header__title {
  font-family: "Raleway";
  font-weight: 600;
  line-height: 129%;
  text-align: center;
  color: #534931;
}
@media (min-width: 75em) {
  .block-header__title {
    font-size: 3rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .block-header__title {
    font-size: clamp( 1.375rem , 0.7840909091rem  +  2.9545454545vw , 3rem );
  }
}
@media (max-width: 20em) {
  .block-header__title {
    font-size: 1.375rem;
  }
}
@media (min-width: 75em) {
  .block-header__title:not(:last-child) {
    margin-bottom: 1.5625rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .block-header__title:not(:last-child) {
    margin-bottom: clamp( 1.25rem , 1.1363636364rem  +  0.5681818182vw , 1.5625rem );
  }
}
@media (max-width: 20em) {
  .block-header__title:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}
.block-header__title_left {
  text-align: left;
}
@media (max-width: 47.99875em) {
  .block-header__title_left {
    text-align: center;
  }
}
.block-header__title_main {
  font-family: "Raleway";
  line-height: 110%;
  text-align: left;
}
@media (min-width: 75em) {
  .block-header__title_main {
    font-size: 5.625rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .block-header__title_main {
    font-size: clamp( 1.375rem , -0.1704545455rem  +  7.7272727273vw , 5.625rem );
  }
}
@media (max-width: 20em) {
  .block-header__title_main {
    font-size: 1.375rem;
  }
}
.block-header__text {
  font-family: "Raleway";
  font-weight: 500;
  line-height: 146%;
  text-align: center;
}
@media (min-width: 75em) {
  .block-header__text {
    font-size: 1rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .block-header__text {
    font-size: clamp( 1rem , 1rem  +  0vw , 1rem );
  }
}
@media (max-width: 20em) {
  .block-header__text {
    font-size: 1rem;
  }
}
@media (min-width: 75em) {
  .block-header__text_main {
    font-size: 1.5rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .block-header__text_main {
    font-size: clamp( 0.875rem , 0.6477272727rem  +  1.1363636364vw , 1.5rem );
  }
}
@media (max-width: 20em) {
  .block-header__text_main {
    font-size: 0.875rem;
  }
}
.block-header__text_left {
  text-align: left;
}

.button-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  width: 175px;
  min-height: 60px;
  color: #fff;
  background-color: #B38E6A;
  text-transform: uppercase;
  border: 2px solid transparent;
  transition: all 0.3s ease;
  cursor: pointer;
}
.button-link:hover {
  background-color: #fff;
  color: #B38E6A;
  border: 2px solid #B38E6A;
}
[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  padding: 10px 0px;
  background-color: rgba(247, 247, 247, 0.94);
}
.header__container {
  position: relative;
}
.header__body {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
}
@media (min-width: 75em) {
  .header__body {
    min-height: 6.875rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .header__body {
    min-height: clamp( 3.125rem , 1.7613636364rem  +  6.8181818182vw , 6.875rem );
  }
}
@media (max-width: 20em) {
  .header__body {
    min-height: 3.125rem;
  }
}
@media (min-width: 106.25em) {
  .header__body {
    column-gap: 6.25rem;
  }
}
@media (min-width: 61.99875em) and (max-width: 106.25em) {
  .header__body {
    column-gap: clamp( 1.25rem , -5.7553105844rem  +  11.2991158442vw , 6.25rem );
  }
}
@media (max-width: 61.99875em) {
  .header__body {
    column-gap: 1.25rem;
  }
}
@media (max-width: 61.99875em) {
  .header__body {
    row-gap: 0.625rem;
  }
}
@media (max-width: 61.99875em) and (min-width: 61.99875em) {
  .header__body {
    column-gap: 2.5rem;
  }
}
@media (max-width: 61.99875em) and (min-width: 47.99875em) and (max-width: 61.99875em) {
  .header__body {
    column-gap: clamp( 1.25rem , -3.0356026786rem  +  8.9285714286vw , 2.5rem );
  }
}
@media (max-width: 61.99875em) and (max-width: 47.99875em) {
  .header__body {
    column-gap: 1.25rem;
  }
}
.logo {
  flex: 0 0 auto;
  position: relative;
  z-index: 2;
}
.logo__link {
  display: flex;
  min-width: 115px;
  align-items: center;
  column-gap: 12px;
}
@media (min-width: 75em) {
  .logo__link {
    padding-left: 0.9375rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .logo__link {
    padding-left: clamp( 0.3125rem , 0.0852272727rem  +  1.1363636364vw , 0.9375rem );
  }
}
@media (max-width: 20em) {
  .logo__link {
    padding-left: 0.3125rem;
  }
}
.logo__prefix {
  font-family: "Zapfino";
  text-transform: lowercase;
  opacity: 0.6;
}
@media (min-width: 75em) {
  .logo__prefix {
    font-size: 5.9375rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .logo__prefix {
    font-size: clamp( 2.5rem , 1.25rem  +  6.25vw , 5.9375rem );
  }
}
@media (max-width: 20em) {
  .logo__prefix {
    font-size: 2.5rem;
  }
}
.logo__name {
  font-family: "Raleway";
  font-weight: 600;
  color: #534931;
  text-transform: uppercase;
}
@media (min-width: 75em) {
  .logo__name {
    font-size: 2rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .logo__name {
    font-size: clamp( 0.9375rem , 0.5511363636rem  +  1.9318181818vw , 2rem );
  }
}
@media (max-width: 20em) {
  .logo__name {
    font-size: 0.9375rem;
  }
}

.menu {
  flex: 1 1 auto;
}
@media (max-width: 47.99875em) {
  .header-nav {
    position: fixed;
    overflow: auto;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    transition: left 0.3s ease 0s;
    padding-bottom: 1.875rem;
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
    background-color: rgba(247, 247, 247, 0.95);
  }
}
@media (max-width: 47.99875em) and (min-width: 75em) {
  .header-nav {
    padding-top: 11.875rem;
  }
}
@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 75em) {
  .header-nav {
    padding-top: clamp( 6.875rem , 5.0568181818rem  +  9.0909090909vw , 11.875rem );
  }
}
@media (max-width: 47.99875em) and (max-width: 20em) {
  .header-nav {
    padding-top: 6.875rem;
  }
}
@media (max-width: 47.99875em) {
  .header-nav::before {
    content: "";
    position: fixed;
    top: 0;
    width: 100%;
    left: -100%;
    transition: left 0.3s ease 0s;
    background: linear-gradient(to bottom, rgba(247, 247, 247, 0.98) 0%, #f7f7f7 85%, rgba(247, 247, 247, 0.2) 100%);
  }
}
@media (max-width: 47.99875em) and (min-width: 75em) {
  .header-nav::before {
    height: 10rem;
  }
}
@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 75em) {
  .header-nav::before {
    height: clamp( 5rem , 3.1818181818rem  +  9.0909090909vw , 10rem );
  }
}
@media (max-width: 47.99875em) and (max-width: 20em) {
  .header-nav::before {
    height: 5rem;
  }
}
@media (max-width: 47.99875em) {
  .menu-open .header-nav {
    left: 0;
  }
  .menu-open .header-nav::before {
    left: 0;
  }
}
.header-nav__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 20px;
}
@media (min-width: 75em) {
  .header-nav__list {
    column-gap: 2.8125rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .header-nav__list {
    column-gap: clamp( 0.3125rem , -0.5965909091rem  +  4.5454545455vw , 2.8125rem );
  }
}
@media (max-width: 20em) {
  .header-nav__list {
    column-gap: 0.3125rem;
  }
}
@media (max-width: 47.99875em) {
  .header-nav__list {
    flex-direction: column;
    justify-content: center;
  }
  .header-nav__list:not(:last-child) {
    margin-bottom: 3.125rem;
  }
}
.header-nav__link {
  font-weight: 500;
  line-height: 1.5625;
  color: #534931;
  transition: color 0.3s ease;
}
@media (min-width: 120em) {
  .header-nav__link {
    font-size: 1rem;
  }
}
@media (min-width: 47.99875em) and (max-width: 120em) {
  .header-nav__link {
    font-size: clamp( 0.875rem , 0.7916702835rem  +  0.1736080971vw , 1rem );
  }
}
@media (max-width: 47.99875em) {
  .header-nav__link {
    font-size: 0.875rem;
  }
}
.header-nav__link:hover {
  color: #b38e6a;
}
@media (max-width: 47.99875em) {
  .header-nav__link {
    font-size: 2.25rem;
  }
}

.social {
  position: relative;
  z-index: 3;
}
.social__list {
  display: flex;
  align-items: center;
  column-gap: 0.625rem;
}
@media (max-width: 61.99875em) {
  .social__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0.625rem;
  }
}
@media (max-width: 47.99875em) {
  .social__list {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    row-gap: 0.625rem;
  }
}
.social__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #f7f7f7;
}
.social__icon {
  height: 18px;
  width: 18px;
  transition: all 0.3s ease;
}
.social__icon:hover {
  transform: scale(1.2);
}

.icon-menu {
  display: none;
}
@media (max-width: 47.99875em) {
  .icon-menu {
    display: block;
    position: relative;
    flex: 0 0 40px;
    height: 24px;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #B38E6A;
  }
  .icon-menu::before {
    top: 0px;
  }
  .icon-menu::after {
    bottom: 0px;
  }
  .icon-menu span {
    top: calc(50% - 1.5px);
  }
  .menu-open .icon-menu span {
    transform: scale(0);
  }
  .menu-open .icon-menu::before {
    transform: rotate(-45deg);
    top: calc(50% - 1.5px);
  }
  .menu-open .icon-menu::after {
    transform: rotate(45deg);
    bottom: calc(50% - 1.5px);
  }
}

.footer {
  position: relative;
  z-index: 2;
}

.mainpage {
  padding: 130px 0px 0px 0px;
}
@media (max-width: 61.99875em) {
  .mainpage {
    padding-top: 190px;
  }
}
@media (max-width: 47.99875em) and (min-width: 75em) {
  .mainpage {
    padding-top: 8.125rem;
  }
}
@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 75em) {
  .mainpage {
    padding-top: clamp( 5rem , 3.8636363636rem  +  5.6818181818vw , 8.125rem );
  }
}
@media (max-width: 47.99875em) and (max-width: 20em) {
  .mainpage {
    padding-top: 5rem;
  }
}
.mainpage__special-menu {
  padding: 0px 0px 100px 0px;
}

.main-slider__container {
  position: relative;
  z-index: 2;
}
.body-main-slider__slider {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.body-main-slider__swiper {
  flex: 0 0 100%;
}
.body-main-slider__buttons {
  position: absolute;
  z-index: 3;
  top: 100%;
  content: "";
  flex: 1 1 auto;
  display: flex;
  align-self: center;
  transform: translate(0, -100%);
}
@media (max-width: 29.99875em) {
  .body-main-slider__buttons {
    position: static;
    transform: translate(0, 0%);
  }
}
.body-main-slider__button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  cursor: pointer;
  background-color: #B38E6A;
  border: 2px solid transparent;
  transition: 0.3s ease;
}
@media (min-width: 75em) {
  .body-main-slider__button {
    height: 6.25rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .body-main-slider__button {
    height: clamp( 3.75rem , 2.8409090909rem  +  4.5454545455vw , 6.25rem );
  }
}
@media (max-width: 20em) {
  .body-main-slider__button {
    height: 3.75rem;
  }
}
@media (min-width: 75em) {
  .body-main-slider__button {
    width: 6.25rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .body-main-slider__button {
    width: clamp( 3.75rem , 2.8409090909rem  +  4.5454545455vw , 6.25rem );
  }
}
@media (max-width: 20em) {
  .body-main-slider__button {
    width: 3.75rem;
  }
}
.body-main-slider__button:hover {
  background-color: #ffffff;
  border: 2px solid #B38E6A;
}
.body-main-slider__button_prev::before {
  content: "\e901";
  font-family: "icons";
  font-size: 20px;
  color: #ffffff;
  transition: 0.3s ease;
}
.body-main-slider__button_prev:hover::before {
  color: #B38E6A;
}
.body-main-slider__button_next::before {
  content: "\e902";
  font-family: "icons";
  font-size: 20px;
  color: #ffffff;
  transition: 0.3s ease;
}
.body-main-slider__button_next:hover::before {
  color: #B38E6A;
}

.slide-main-slider {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  gap: 10px;
}
@media (max-width: 61.99875em) {
  .slide-main-slider {
    flex-direction: column;
    justify-content: center;
  }
}
.slide-main-slider__description {
  flex: 1 1 auto;
  min-width: 250px;
  height: 100%;
}
@media (min-width: 75em) {
  .slide-main-slider__description {
    padding-top: 5rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .slide-main-slider__description {
    padding-top: clamp( 1.25rem , -0.1136363636rem  +  6.8181818182vw , 5rem );
  }
}
@media (max-width: 20em) {
  .slide-main-slider__description {
    padding-top: 1.25rem;
  }
}
@media (min-width: 75em) {
  .slide-main-slider__description {
    padding-right: 5rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .slide-main-slider__description {
    padding-right: clamp( 1.25rem , -0.1136363636rem  +  6.8181818182vw , 5rem );
  }
}
@media (max-width: 20em) {
  .slide-main-slider__description {
    padding-right: 1.25rem;
  }
}
@media (min-width: 75em) {
  .slide-main-slider__description {
    padding-bottom: 5rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .slide-main-slider__description {
    padding-bottom: clamp( 1.25rem , -0.1136363636rem  +  6.8181818182vw , 5rem );
  }
}
@media (max-width: 20em) {
  .slide-main-slider__description {
    padding-bottom: 1.25rem;
  }
}
@media (min-width: 75em) {
  .slide-main-slider__description {
    padding-left: 5rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .slide-main-slider__description {
    padding-left: clamp( 0.625rem , -0.9659090909rem  +  7.9545454545vw , 5rem );
  }
}
@media (max-width: 20em) {
  .slide-main-slider__description {
    padding-left: 0.625rem;
  }
}
@media (max-width: 61.99875em) {
  .slide-main-slider__description {
    width: 100%;
  }
}
.slide-main-slider__header:not(:last-child) {
  margin: 0px 0px 60px 0px;
}
.slide-main-slider__items-button {
  display: flex;
  gap: 25px;
}
.slide-main-slider__button-video {
  min-width: 60px;
}
@media (max-width: 29.99875em) {
  .slide-main-slider__button-video {
    display: none;
  }
}
.slide-main-slider__block-video {
  display: flex;
  position: relative;
  flex: 0 0 50%;
  padding: 0px 0px 50% 0px;
  height: 100%;
}
@media (max-width: 61.99875em) {
  .slide-main-slider__block-video {
    flex: 0 0 50%;
    width: 100%;
  }
}
.slide-main-slider__video {
  flex: 1 1 auto;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.preloader {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  background: url("../img/icons/loading.gif") 50%/40% no-repeat;
}

.block-header__top-title:not(:last-child) {
  margin: 0px 0px 14px 0px;
}
.block-header__title_main:not(:last-child) {
  margin: 0px 0px 25px 0px;
}
.button-video {
  position: relative;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #B38E6A;
  border: 2px solid transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button-video:hover {
  background-color: #ffffff;
  border: 2px solid #B38E6A;
}
.button-video:hover .button-video__play-video {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-style: solid;
  border-width: 5px 0 5px 10px;
  border-color: transparent #B38E6A;
}
.button-video__play-video {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-style: solid;
  border-width: 5px 0 5px 10px;
  border-color: transparent #ffffff;
}

.main-banner {
  position: relative;
  z-index: 2;
}
.main-banner__body {
  background-color: #ffffff;
}
.main-banner__top-text {
  position: relative;
  z-index: 2;
  font-family: Raleway;
  font-weight: 600;
  line-height: 150%;
  color: #534931;
  max-width: 700px;
  padding-left: 0px;
  padding-right: 0px;
}
@media (min-width: 75em) {
  .main-banner__top-text {
    padding-top: 8.125rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .main-banner__top-text {
    padding-top: clamp( 1.25rem , -1.25rem  +  12.5vw , 8.125rem );
  }
}
@media (max-width: 20em) {
  .main-banner__top-text {
    padding-top: 1.25rem;
  }
}
@media (min-width: 75em) {
  .main-banner__top-text {
    padding-bottom: 8.125rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .main-banner__top-text {
    padding-bottom: clamp( 1.25rem , -1.25rem  +  12.5vw , 8.125rem );
  }
}
@media (max-width: 20em) {
  .main-banner__top-text {
    padding-bottom: 1.25rem;
  }
}
@media (min-width: 75em) {
  .main-banner__top-text {
    font-size: 2rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .main-banner__top-text {
    font-size: clamp( 1.125rem , 0.8068181818rem  +  1.5909090909vw , 2rem );
  }
}
@media (max-width: 20em) {
  .main-banner__top-text {
    font-size: 1.125rem;
  }
}
.main-banner__main-banner-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.11;
  background: url("../img/bg/bg_banner_01.svg") 90% 4.5% no-repeat, url("../img/bg/bg_banner_02.svg") 90% 90% no-repeat;
}
@media (max-width: 99.99875em) {
  .main-banner__main-banner-bg {
    background: url("../img/bg/bg_banner_01.svg") 90% 10%/25% no-repeat, url("../img/bg/bg_banner_02.svg") 90% 80%/25% no-repeat;
  }
}
@media (max-width: 47.99875em) {
  .main-banner__main-banner-bg {
    background: none;
  }
}
.main-banner__image-banner {
  position: relative;
  padding: 0px 0px 38.5% 0px;
}
.main-banner__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.main-banner__content {
  display: flex;
  align-items: center;
  gap: 40px;
  transform: translate(0%, -15%);
}
@media (min-width: 75em) {
  .main-banner__content {
    gap: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .main-banner__content {
    gap: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem );
  }
}
@media (max-width: 20em) {
  .main-banner__content {
    gap: 1.25rem;
  }
}
@media (max-width: 47.99875em) {
  .main-banner__content {
    flex-direction: column;
    text-align: center;
  }
}
.main-banner__image-content {
  position: relative;
  flex: 1 0 35%;
  padding: 0px 0px 30% 0px;
}
@media (max-width: 47.99875em) {
  .main-banner__image-content {
    width: 70%;
    padding: 0px 0px 45% 0px;
  }
}
.main-banner__description-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  object-fit: cover;
}
.main-banner__header {
  flex: 0 0 60%;
}
@media (min-width: 75em) {
  .main-banner__header {
    padding-top: 7.5rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .main-banner__header {
    padding-top: clamp( 1.25rem , -1.0227272727rem  +  11.3636363636vw , 7.5rem );
  }
}
@media (max-width: 20em) {
  .main-banner__header {
    padding-top: 1.25rem;
  }
}
@media (min-width: 75em) {
  .main-banner__header {
    padding-bottom: 7.5rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .main-banner__header {
    padding-bottom: clamp( 1.25rem , -1.0227272727rem  +  11.3636363636vw , 7.5rem );
  }
}
@media (max-width: 20em) {
  .main-banner__header {
    padding-bottom: 1.25rem;
  }
}
.main-banner__description {
  font-family: Raleway;
  font-weight: 500;
  font-size: 2rem;
  line-height: 150%;
  color: #B38E6A;
  text-align: left;
}
@media (max-width: 47.99875em) {
  .main-banner__description {
    text-align: center;
  }
}

.special-menu {
  position: relative;
  z-index: 2;
}
@media (min-width: 75em) {
  .special-menu__block-header:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .special-menu__block-header:not(:last-child) {
    margin-bottom: clamp( 0.625rem , 0.3977272727rem  +  1.1363636364vw , 1.25rem );
  }
}
@media (max-width: 20em) {
  .special-menu__block-header:not(:last-child) {
    margin-bottom: 0.625rem;
  }
}
.slider-special-menu__control {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Raleway";
  font-weight: 600;
  line-height: 146%;
  color: #534931;
}
@media (min-width: 75em) {
  .slider-special-menu__control {
    font-size: 1.5rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .slider-special-menu__control {
    font-size: clamp( 1rem , 0.8181818182rem  +  0.9090909091vw , 1.5rem );
  }
}
@media (max-width: 20em) {
  .slider-special-menu__control {
    font-size: 1rem;
  }
}
@media (min-width: 75em) {
  .slider-special-menu__control {
    padding-top: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .slider-special-menu__control {
    padding-top: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem );
  }
}
@media (max-width: 20em) {
  .slider-special-menu__control {
    padding-top: 1.25rem;
  }
}
@media (min-width: 75em) {
  .slider-special-menu__control {
    padding-bottom: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .slider-special-menu__control {
    padding-bottom: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem );
  }
}
@media (max-width: 20em) {
  .slider-special-menu__control {
    padding-bottom: 1.25rem;
  }
}
.slider-special-menu__slide {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: minmax(230px, auto);
  gap: 30px;
}
@media (max-width: 1199.98px) {
  .slider-special-menu__slide {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, minmax(230px, auto));
  }
}
@media (max-width: 47.99875em) {
  .slider-special-menu__slide {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, minmax(230px, auto));
  }
}
.slider-special-menu__item-slide {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.slider-special-menu__item-slide:hover .slider-special-menu__description {
  opacity: 1;
  width: 100%;
  height: 100%;
  background: rgba(247, 247, 247, 0.78);
  transition: 0.3s ease;
}
.slider-special-menu__description {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.3s ease;
  padding: 45px 40px 45px 40px;
}
.slider-special-menu__title-slide {
  font-family: "Raleway";
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 156%;
  text-align: center;
  color: #534931;
}
.slider-special-menu__title-slide:not(:last-child) {
  margin: 0px 0px 10px 0px;
}
.slider-special-menu__text-slide {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 164%;
  text-align: center;
  color: #5C5C5C;
}
@media (min-width: 75em) {
  .slider-special-menu__text-slide:not(:last-child) {
    margin-bottom: 2.1875rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  .slider-special-menu__text-slide:not(:last-child) {
    margin-bottom: clamp( 0.625rem , 0.0568181818rem  +  2.8409090909vw , 2.1875rem );
  }
}
@media (max-width: 20em) {
  .slider-special-menu__text-slide:not(:last-child) {
    margin-bottom: 0.625rem;
  }
}
.slider-special-menu__price {
  font-family: "Raleway";
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 156%;
  text-align: center;
  color: #534931;
}
.slider-special-menu__image-slide {
  flex: 0 0 100%;
  padding: 0px 0px 70% 0px;
  height: 100%;
}
.slider-special-menu__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}
